body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

nav {
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #555;
}

.align-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.input-section, .output-section {
    padding: 20px;
}

.input-section {
    border-right: 1px solid #ccc;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: both;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.actions-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

button {
    background-color: #888;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #666;
}

pre {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: both;
    box-sizing: border-box;
    min-height: 190px;
}

#SamplesList {
    width: 100%;
    margin-bottom: 20px;
}

#SamplesList h2 {
    margin-top: 0;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.aligned-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sample-list-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
